.header{
height: fit-content;

}
.price-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blue;
}
.plan-container{
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 25%;
}
.text,.text1{
    text-align: center;
}
.button-container{
    text-align: center;
    padding: 8px 20px;
    background-color: blue;
    border-radius: 25px;
}
button{
    background-color: blue;
    color: white;
    border: none;
}
.text1{
    color: gray;
}
.custom-list {
    list-style: none;
    padding-left: 0;
  }
  
  .custom-list li {
    margin: 10px 0;
    position: relative;
  }
  
  .custom-list .checkmark::before {
    content: '\2713'; 
    display: inline-block;
    margin-right: 5px;
    color: black; 
  }
  .custom-list{
    line-height: 37px;
  }
  
  .custom-list .cancel::before {
    content: 'X'; 
    display: inline-block;
    margin-right: 5px;
    color: black;
    opacity: 0.5;
  }
  hr{
    width: 90%;
    color: gray;
    opacity: 0.3;
  }
  #fade{
    opacity: 0.5;
  }
